.cl-aliceblue { color: aliceblue }
.cl-antiquewhite { color: antiquewhite }
.cl-aqua { color: aqua }
.cl-aquamarine { color: aquamarine }
.cl-azure { color: azure }
.cl-beige { color: beige }
.cl-bisque { color: bisque }
.cl-black { color: black }
.cl-blanchedalmond { color: blanchedalmond }
.cl-blue { color: blue }
.cl-blueviolet { color: blueviolet }
.cl-brown { color: brown }
.cl-burlywood { color: burlywood }
.cl-cadetblue { color: cadetblue }
.cl-chartreuse { color: chartreuse }
.cl-chocolate { color: chocolate }
.cl-coral { color: coral }
.cl-cornflowerblue { color: cornflowerblue }
.cl-cornsilk { color: cornsilk }
.cl-crimson { color: crimson }
.cl-cyan { color: cyan }
.cl-darkblue { color: darkblue }
.cl-darkcyan { color: darkcyan }
.cl-darkgoldenrod { color: darkgoldenrod }
.cl-darkgray { color: darkgray }
.cl-darkgreen { color: darkgreen }
.cl-darkgrey { color: darkgrey }
.cl-darkkhaki { color: darkkhaki }
.cl-darkmagenta { color: darkmagenta }
.cl-darkolivegreen { color: darkolivegreen }
.cl-darkorange { color: darkorange }
.cl-darkorchid { color: darkorchid }
.cl-darkred { color: darkred }
.cl-darksalmon { color: darksalmon }
.cl-darkseagreen { color: darkseagreen }
.cl-darkslateblue { color: darkslateblue }
.cl-darkslategray { color: darkslategray }
.cl-darkslategrey { color: darkslategrey }
.cl-darkturquoise { color: darkturquoise }
.cl-darkviolet { color: darkviolet }
.cl-deeppink { color: deeppink }
.cl-deepskyblue { color: deepskyblue }
.cl-dimgray { color: dimgray }
.cl-dimgrey { color: dimgrey }
.cl-dodgerblue { color: dodgerblue }
.cl-firebrick { color: firebrick }
.cl-floralwhite { color: floralwhite }
.cl-forestgreen { color: forestgreen }
.cl-fuchsia { color: fuchsia }
.cl-gainsboro { color: gainsboro }
.cl-ghostwhite { color: ghostwhite }
.cl-gold { color: gold }
.cl-goldenrod { color: goldenrod }
.cl-gray { color: gray }
.cl-green { color: green }
.cl-greenyellow { color: greenyellow }
.cl-grey { color: grey }
.cl-honeydew { color: honeydew }
.cl-hotpink { color: hotpink }
.cl-indianred { color: indianred }
.cl-indigo { color: indigo }
.cl-ivory { color: ivory }
.cl-khaki { color: khaki }
.cl-lavender { color: lavender }
.cl-lavenderblush { color: lavenderblush }
.cl-lawngreen { color: lawngreen }
.cl-lemonchiffon { color: lemonchiffon }
.cl-lightblue { color: lightblue }
.cl-lightcoral { color: lightcoral }
.cl-lightcyan { color: lightcyan }
.cl-lightgoldenrodyellow { color: lightgoldenrodyellow }
.cl-lightgray { color: lightgray }
.cl-lightgreen { color: lightgreen }
.cl-lightgrey { color: lightgrey }
.cl-lightpink { color: lightpink }
.cl-lightsalmon { color: lightsalmon }
.cl-lightseagreen { color: lightseagreen }
.cl-lightskyblue { color: lightskyblue }
.cl-lightslategray { color: lightslategray }
.cl-lightslategrey { color: lightslategrey }
.cl-lightsteelblue { color: lightsteelblue }
.cl-lightyellow { color: lightyellow }
.cl-lime { color: lime }
.cl-limegreen { color: limegreen }
.cl-linen { color: linen }
.cl-magenta { color: magenta }
.cl-maroon { color: maroon }
.cl-mediumaquamarine { color: mediumaquamarine }
.cl-mediumblue { color: mediumblue }
.cl-mediumorchid { color: mediumorchid }
.cl-mediumpurple { color: mediumpurple }
.cl-mediumseagreen { color: mediumseagreen }
.cl-mediumslateblue { color: mediumslateblue }
.cl-mediumspringgreen { color: mediumspringgreen }
.cl-mediumturquoise { color: mediumturquoise }
.cl-mediumvioletred { color: mediumvioletred }
.cl-midnightblue { color: midnightblue }
.cl-mintcream { color: mintcream }
.cl-mistyrose { color: mistyrose }
.cl-moccasin { color: moccasin }
.cl-navajowhite { color: navajowhite }
.cl-navy { color: navy }
.cl-oldlace { color: oldlace }
.cl-olive { color: olive }
.cl-olivedrab { color: olivedrab }
.cl-orange { color: orange }
.cl-orangered { color: orangered; }
.cl-orchid { color: orchid }
.cl-palegoldenrod { color: palegoldenrod }
.cl-palegreen { color: palegreen }
.cl-paleturquoise { color: paleturquoise }
.cl-palevioletred { color: palevioletred }
.cl-papayawhip { color: papayawhip }
.cl-peachpuff { color: peachpuff }
.cl-peru { color: peru }
.cl-pink { color: pink }
.cl-plum { color: plum }
.cl-powderblue { color: powderblue }
.cl-purple { color: purple }
.cl-rebeccapurple { color: rebeccapurple }
.cl-red { color: red }
.cl-rosybrown { color: rosybrown }
.cl-royalblue { color: royalblue }
.cl-saddlebrown { color: saddlebrown }
.cl-salmon { color: salmon }
.cl-sandybrown { color: sandybrown }
.cl-seagreen { color: seagreen }
.cl-seashell { color: seashell }
.cl-sienna { color: sienna }
.cl-silver { color: silver }
.cl-skyblue { color: skyblue }
.cl-slateblue { color: slateblue }
.cl-slategray { color: slategray }
.cl-slategrey { color: slategrey }
.cl-snow { color: snow }
.cl-springgreen { color: springgreen }
.cl-steelblue { color: steelblue }
.cl-tan { color: tan }
.cl-teal { color: teal }
.cl-thistle { color: thistle }
.cl-tomato { color: tomato }
.cl-transparent { color: transparent }
.cl-turquoise { color: turquoise }
.cl-violet { color: violet }
.cl-wheat { color: wheat }
.cl-white { color: white }
.cl-whitesmoke { color: whitesmoke }
.cl-yellow { color: yellow }
.cl-yellowgreen { color: yellowgreen }

.cl-blackblue { color: #010571; }