@media(orientation: landscape) {
       .desk-none { display: none; }
       .desk-flex { display: flex; }
       .desk-p-0 { padding: 0; }
       .desk-pt-0 { padding-top: 0; }
       .desk-pr-0 { padding-right: 0; }
       .desk-pb-0 { padding-bottom: 0; }
       .desk-pl-0 { padding-left: 0; }
       .desk-w-half { width: 50%; }
       .desk-w-full { width: 100%; }
       .desk-w-halfscreen { width: 50vw; }
       .desk-flex-1 { flex: 1; }
}

.desk-nav{
       width: 100%;
}
.desk-nav li{
       list-style: none;
       padding: 15px 10px;
       border-radius: 10px;
       display: flex;
       justify-content: left;
       align-items: center;
}
.desk-nav li img{
       margin: 0 10px 0 0;
}