.block { display: block; }
.content { display: contents; }
.flex { display: flex; }
.flexbox { display: flexbox; }
.flow-root { display: flow-root; }
.grid { display: grid; }
.inline { display: inline; }
.in-block { display: inline-block; }
.in-flex { display: inline-flex; }
.in-fl-box { display: inline-flexbox; }
.in-table { display: inline-table; }
.li-item { display: list-item; }
.none { display: none; }
.ruby { display: ruby; }
.ruby-base { display: ruby-base; }
.ru-ba-cont { display: ruby-base-container; }
.ru-txt { display: ruby-text; }
.ru-txt-cont { display: ruby-text-container; }
.run-in { display: run-in; }
.table { display: table; }
.tab-cap { display: table-caption; }
.tab-cell { display: table-cell; }
.tab-col { display: table-column; }
.tab-col-gp { display: table-column-group; }
.tab-ft-gp { display: table-footer-group; }
.tab-hd-gp { display: table-header-group; }
.tab-row { display: table-row; }
.tab-row-gp { display: table-row-group; }
.grid-temp-col { grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }