.placeholder-aliceblue::placeholder { color: aliceblue }
.placeholder-antiquewhite::placeholder { color: antiquewhite }
.placeholder-aqua::placeholder { color: aqua }
.placeholder-aquamarine::placeholder { color: aquamarine }
.placeholder-azure::placeholder { color: azure }
.placeholder-beige::placeholder { color: beige }
.placeholder-bisque::placeholder { color: bisque }
.placeholder-black::placeholder { color: black }
.placeholder-blanchedalmond::placeholder { color: blanchedalmond }
.placeholder-blue::placeholder { color: blue }
.placeholder-blueviolet::placeholder { color: blueviolet }
.placeholder-brown::placeholder { color: brown }
.placeholder-burlywood::placeholder { color: burlywood }
.placeholder-cadetblue::placeholder { color: cadetblue }
.placeholder-chartreuse::placeholder { color: chartreuse }
.placeholder-chocolate::placeholder { color: chocolate }
.placeholder-coral::placeholder { color: coral }
.placeholder-cornflowerblue::placeholder { color: cornflowerblue }
.placeholder-cornsilk::placeholder { color: cornsilk }
.placeholder-crimson::placeholder { color: crimson }
.placeholder-cyan::placeholder { color: cyan }
.placeholder-darkblue::placeholder { color: darkblue }
.placeholder-darkcyan::placeholder { color: darkcyan }
.placeholder-darkgoldenrod::placeholder { color: darkgoldenrod }
.placeholder-darkgray::placeholder { color: darkgray }
.placeholder-darkgreen::placeholder { color: darkgreen }
.placeholder-darkgrey::placeholder { color: darkgrey }
.placeholder-darkkhaki::placeholder { color: darkkhaki }
.placeholder-darkmagenta::placeholder { color: darkmagenta }
.placeholder-darkolivegreen::placeholder { color: darkolivegreen }
.placeholder-darkorange::placeholder { color: darkorange }
.placeholder-darkorchid::placeholder { color: darkorchid }
.placeholder-darkred::placeholder { color: darkred }
.placeholder-darksalmon::placeholder { color: darksalmon }
.placeholder-darkseagreen::placeholder { color: darkseagreen }
.placeholder-darkslateblue::placeholder { color: darkslateblue }
.placeholder-darkslategray::placeholder { color: darkslategray }
.placeholder-darkslategrey::placeholder { color: darkslategrey }
.placeholder-darkturquoise::placeholder { color: darkturquoise }
.placeholder-darkviolet::placeholder { color: darkviolet }
.placeholder-deeppink::placeholder { color: deeppink }
.placeholder-deepskyblue::placeholder { color: deepskyblue }
.placeholder-dimgray::placeholder { color: dimgray }
.placeholder-dimgrey::placeholder { color: dimgrey }
.placeholder-dodgerblue::placeholder { color: dodgerblue }
.placeholder-firebrick::placeholder { color: firebrick }
.placeholder-floralwhite::placeholder { color: floralwhite }
.placeholder-forestgreen::placeholder { color: forestgreen }
.placeholder-fuchsia::placeholder { color: fuchsia }
.placeholder-gainsboro::placeholder { color: gainsboro }
.placeholder-ghostwhite::placeholder { color: ghostwhite }
.placeholder-gold::placeholder { color: gold }
.placeholder-goldenrod::placeholder { color: goldenrod }
.placeholder-gray::placeholder { color: gray }
.placeholder-green::placeholder { color: green }
.placeholder-greenyellow::placeholder { color: greenyellow }
.placeholder-grey::placeholder { color: grey }
.placeholder-honeydew::placeholder { color: honeydew }
.placeholder-hotpink::placeholder { color: hotpink }
.placeholder-indianred::placeholder { color: indianred }
.placeholder-indigo::placeholder { color: indigo }
.placeholder-ivory::placeholder { color: ivory }
.placeholder-khaki::placeholder { color: khaki }
.placeholder-lavender::placeholder { color: lavender }
.placeholder-lavenderblush::placeholder { color: lavenderblush }
.placeholder-lawngreen::placeholder { color: lawngreen }
.placeholder-lemonchiffon::placeholder { color: lemonchiffon }
.placeholder-lightblue::placeholder { color: lightblue }
.placeholder-lightcoral::placeholder { color: lightcoral }
.placeholder-lightcyan::placeholder { color: lightcyan }
.placeholder-lightgoldenrodyellow::placeholder { color: lightgoldenrodyellow }
.placeholder-lightgray::placeholder { color: lightgray }
.placeholder-lightgreen::placeholder { color: lightgreen }
.placeholder-lightgrey::placeholder { color: lightgrey }
.placeholder-lightpink::placeholder { color: lightpink }
.placeholder-lightsalmon::placeholder { color: lightsalmon }
.placeholder-lightseagreen::placeholder { color: lightseagreen }
.placeholder-lightskyblue::placeholder { color: lightskyblue }
.placeholder-lightslategray::placeholder { color: lightslategray }
.placeholder-lightslategrey::placeholder { color: lightslategrey }
.placeholder-lightsteelblue::placeholder { color: lightsteelblue }
.placeholder-lightyellow::placeholder { color: lightyellow }
.placeholder-lime::placeholder { color: lime }
.placeholder-limegreen::placeholder { color: limegreen }
.placeholder-linen::placeholder { color: linen }
.placeholder-magenta::placeholder { color: magenta }
.placeholder-maroon::placeholder { color: maroon }
.placeholder-mediumaquamarine::placeholder { color: mediumaquamarine }
.placeholder-mediumblue::placeholder { color: mediumblue }
.placeholder-mediumorchid::placeholder { color: mediumorchid }
.placeholder-mediumpurple::placeholder { color: mediumpurple }
.placeholder-mediumseagreen::placeholder { color: mediumseagreen }
.placeholder-mediumslateblue::placeholder { color: mediumslateblue }
.placeholder-mediumspringgreen::placeholder { color: mediumspringgreen }
.placeholder-mediumturquoise::placeholder { color: mediumturquoise }
.placeholder-mediumvioletred::placeholder { color: mediumvioletred }
.placeholder-midnightblue::placeholder { color: midnightblue }
.placeholder-mintcream::placeholder { color: mintcream }
.placeholder-mistyrose::placeholder { color: mistyrose }
.placeholder-moccasin::placeholder { color: moccasin }
.placeholder-navajowhite::placeholder { color: navajowhite }
.placeholder-navy::placeholder { color: navy }
.placeholder-oldlace::placeholder { color: oldlace }
.placeholder-olive::placeholder { color: olive }
.placeholder-olivedrab::placeholder { color: olivedrab }
.placeholder-orange::placeholder { color: orange }
.placeholder-orangered::placeholder { color: orangered }
.placeholder-orchid::placeholder { color: orchid }
.placeholder-palegoldenrod::placeholder { color: palegoldenrod }
.placeholder-palegreen::placeholder { color: palegreen }
.placeholder-paleturquoise::placeholder { color: paleturquoise }
.placeholder-palevioletred::placeholder { color: palevioletred }
.placeholder-papayawhip::placeholder { color: papayawhip }
.placeholder-peachpuff::placeholder { color: peachpuff }
.placeholder-peru::placeholder { color: peru }
.placeholder-pink::placeholder { color: pink }
.placeholder-plum::placeholder { color: plum }
.placeholder-powderblue::placeholder { color: powderblue }
.placeholder-purple::placeholder { color: purple }
.placeholder-rebeccapurple::placeholder { color: rebeccapurple }
.placeholder-red::placeholder { color: red }
.placeholder-rosybrown::placeholder { color: rosybrown }
.placeholder-royalblue::placeholder { color: royalblue }
.placeholder-saddlebrown::placeholder { color: saddlebrown }
.placeholder-salmon::placeholder { color: salmon }
.placeholder-sandybrown::placeholder { color: sandybrown }
.placeholder-seagreen::placeholder { color: seagreen }
.placeholder-seashell::placeholder { color: seashell }
.placeholder-sienna::placeholder { color: sienna }
.placeholder-silver::placeholder { color: silver }
.placeholder-skyblue::placeholder { color: skyblue }
.placeholder-slateblue::placeholder { color: slateblue }
.placeholder-slategray::placeholder { color: slategray }
.placeholder-slategrey::placeholder { color: slategrey }
.placeholder-snow::placeholder { color: snow }
.placeholder-springgreen::placeholder { color: springgreen }
.placeholder-steelblue::placeholder { color: steelblue }
.placeholder-tan::placeholder { color: tan }
.placeholder-teal::placeholder { color: teal }
.placeholder-thistle::placeholder { color: thistle }
.placeholder-tomato::placeholder { color: tomato }
.placeholder-transparent::placeholder { color: transparent }
.placeholder-turquoise::placeholder { color: turquoise }
.placeholder-violet::placeholder { color: violet }
.placeholder-wheat::placeholder { color: wheat }
.placeholder-white::placeholder { color: white }
.placeholder-whitesmoke::placeholder { color: whitesmoke }
.placeholder-yellow::placeholder { color: yellow }
.placeholder-yellowgreen::placeholder { color: yellowgreen }

