@import url(./css/fancy.css);

*::-webkit-scrollbar{
    background: none;
    height: 4px;
    width: 4px;
}
*::-webkit-scrollbar-thumb{
    background: gray;
}
.blur{ backdrop-filter: blur(10px); }
.welcome-bg{
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}
.submitBtn{ background: #00ffcc; }
.dash-grey{ background: rgb(228, 220, 220); }
.bright{ background: rgb(17, 14, 14); }
.brighter{ background: rgb(54, 48, 48); }
.round-progress{
  border-radius: 50%;
  background: conic-gradient(purple,indigo,blue,grey 50% 100%);
  -webkit-mask: radial-gradient(circle, transparent 50%, black 41%);
  mask: radial-gradient(circle, transparent 63%, black 41%);
}


.h-95{ height: 98%; }
.font { font-family: Arial, Verdana, sans-serif }

.splashLoader{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.splashLoader p{
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    animation: bounce 1.5s infinite alternate;
}
.splashLoader p:nth-child(2) {
    animation-delay: 0.1s;
}
.splashLoader p:nth-child(2) {
    animation-delay: 0.3s;
}
.splashLoader p:nth-child(3) {
    animation-delay: 0.5s;
}
.splashLoader p:nth-child(4) {
    animation-delay: 0.7s;
}
.splashLoader p:nth-child(5) {
    animation-delay: 0.9s;
}
.splashLoader p:nth-child(6) {
    animation-delay: 1.1s;
}
.splashLoader p:nth-child(7) {
    animation-delay: 1.3s;
}

@keyframes bounce{
    from{ transform: translateY(-100%); }
    to{ transform: translateY(100%); }
}

.avtr {
    width: 75px;
    height: 75px;
    background: blue;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border: 2px solid gold;
    box-shadow: inset 0 0 14px black;
}
.avtr2 {
    width: 35px;
    height: 35px;
    background: blue;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.bgImg {
    background-image: url('./img/bgImg2.jpg');
    background-position: center;
    background-size: cover;
}
.bgImg2 {
    background-image: url('./img/pd2.jpg');
    background-position: center;
    background-size: cover;
}
.bg-blue-gold {
    background: linear-gradient(to right,blue, orange);
}
.loader {
    width: 35px;
    height: 35px;
    border-right: 2px solid aqua;
    animation: spin 2s infinite;
}
@keyframes spin{
    from{ rotate: 0turn; }
    to{ rotate: 1turn; }
}
.sideBar-border{
    border-right: 2px solid grey;
}
.resize-none{ resize: none; }
@media(max-width: 504px) and (max-height: 1000px) {
       .ph-flex{ display: flex; }
       .ph-block{ display: block; }
       .ph-none{ display: none; }
       .ph-align-start{ align-items: flex-start; }
}
@media(max-width: 770px) and (max-height: 1000px) {
       .ph-tab-w-full{ width: 100%; }
       .ph-tab-flex{ display: flex; }
       .ph-tab-block{ display: block; }
       .ph-tab-none{ display: none; }
       .ph-tab-pos-a{ position: absolute; }
       .ph-tab-align-start{ align-items: flex-start; }
}
@media(min-width: 505px) {
       .tab-flex{ display: flex; }
       .tab-block{ display: block; }
       .tab-none{ display: none; }
       .tab-w-65px { width: 65px; }
       .tab-w-25px{ width: 25px; }
       .tab-align-start{ align-items: flex-start; }
}
@media(min-width: 760px) {
       .dkt-flex{ display: flex; }
       .dkt-block{ display: block; }
       .dkt-none{ display: none; }
       .dkt-w-220px { width: 220px; }
       .dkt-align-center{ align-items: center; }
}
.container-img img{ width: 100%; }
.open-page{
    transform: translateX(0%);
    transition: transform 0.5s ease;
}
.close-page{
    transform: translateX(100%);
    transition: transform 0.3s ease;
}
.trans-x{ transition: transform 0.3s ease; }
.chats .chatme{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: right;
}
.chats .chatyou{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: left;
}
.chats .chatyou .chat{
    border-top-left-radius: 0px;
}
.chats .chatme .chat{
    border-bottom-right-radius: 0px;
}
.chats .chat{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
}
.chats .chat p{
    width: 100%;
    padding: 5px 0;
    font-size: 15px;
}
.chats .chat p:nth-child(2) {
    text-align: right;
    font-size: 12px;
}

.homeContent{
    height: 300px;
    box-shadow: 0 0 5px grey;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
}
#progList .userPrg{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(97, 85, 85);
}
#progList .userPrg p{
    flex-basis: 20%;
    text-transform: capitalize;
    font-weight: bold;
    padding: 15px 0;
    overflow: hidden;
}
#progList .userPrg p:nth-child(1){
    flex-basis: 40%;
}
#progList .userPrg p:nth-child(2){
    color: rgb(100, 97, 97);
}
#progList .userPrg p:nth-child(3){
    color: green;
}
#progList .userPrg p:nth-child(4){
    color: red;
}
.posted{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.posted .imageContainer{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.posted .imageContainer img{
    height: 100%;
}
.posted .imageContainer div{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    font-size: 13px;
}
.posted .imageContainer div img{
    height: 20px;
}
.posted .amount{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.posted .details{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.posted .details h3{
    width: 100%;
    height: 25px;
    overflow: hidden;
}
.posted .details p{
    width: 100%;
    height: 20px;
    overflow: hidden;
    color: #717272;
}
.posted .amount p{
    font-size: 15px;
}
.posted .amount img{
    height: 25px;
}


.props{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.props .imageContainer{
    width: 100%;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.props .imageContainer img{
    width: 100%;
}
.props .imageContainer div{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    font-size: 13px;
}
.props .imageContainer div img{
    height: 20px;
    width: 20x;
}
.props .details{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.props .details h3{
    width: 100%;
    height: 25px;
}
.props .details p{
    width: 100%;
    height: 20px;
    color: #717272;
}
.props .amount{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.props .amount p{
    font-size: 15px;
}
.props .amount img{
    height: 25px;
}