body {
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

video {
  width: 80%;
  max-width: 900px;
  margin-top: 20px;
  border-radius: 8px;
}
